@{
    ViewBag.Title = "全商品リスト";
}

<h2>WebAPIのクライアントサンプル　全商品リスト</h2>
<div>
    Scriptコードは<a href="javascript: dispSource()">「ページのソースを表示」</a>してみてネ！
</div>
<ul data-bind="foreach: productsList" id="products" data-get-url="@Url.Action("", "api/Products")">
　<li data-bind="attr: { 'data-id': Id }">
　　<div data-bind="text: Name"></div>
　　<div data-bind="text: Category"></div>
　　<div data-bind="text: Price"></div>
　</li>
</ul>

@section scripts{
    <script type="text/javascript">
        function dispSource() {
            location = "view-source:" + window.location;
        }

        $(function () {
            function viewModel() {
                var self = this;
                self.productsList = ko.observableArray();
            }

            var viewModel = new viewModel();
            ko.applyBindings(viewModel);

            var url = $('#products').attr("data-get-url");

            $.ajax({
                type: "GET",
                url: url,
                data: { maxCount: 5 },
                dataType: "json",
                cache: false,
                success: function (data) {
                    viewModel.productsList(data);
                }
            });
        });
    </script>    
}
