@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <!--
                <h1>@ViewBag.Title.</h1>
                -->
                <h2>いろいろやってみる</h2>
            </hgroup>
            <p>
                機能検証のためのサンプルコードをさらしています。
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h3>Web APIを使ってみる</h3>
        MVC4で追加された @Html.ActionLink("Web APIを使ってみる", "index", "R1webapi")<br />
        これを利用するシーンはどこか？
    </li>

    <li class="two">
        <h3>CSSフレームワークを導入してみる</h3>
        CSSは人任せになっていて<br />
        こちらの手抜きでCSSに負担かけていることがあるかもしれない<br />
        逆にCSSを知っていればもっと上手に手抜きできることもあるだろう<br />
        いずれにしても、それはコード、それはCSSと簡単に役割を切り離せるものでなくなってきている<br />
        @Html.ActionLink("最近流行りのレスポンシブは何？", "index", "R2CSS") も探っておきたい。
    </li>

@*    
    <li class="three">
        <h3>OAuthでログインしてみる</h3>
        ユーザーの管理は重たい仕事だ。<br />
        パスワードだけでも自サイトで管理する必要がなければそれに越したことはない。<br />
        MVC4で追加された @Html.ActionLink("支援機能を試してみる", "index", "R3OAuth")。
    </li>
*@
</ol>
