@{
    ViewBag.Title = "HTML5の実験室";

}

<h2>HTMLでデザインツールは作れるか？</h2>

<div>
    <h3>Step1</h3>
    @Html.ActionLink("Drag and Drop", "DnD")　
</div>

@*
<div>
    <h3>まとめ</h3>
    <ul>
        <li>サイトツリーをXMLで定義する</li>
        <li>コントローラのメソッドに属性で指定する方法もある</li>
        <li>パンくず、サイトマップを表示させる箇所に対応するヘルパーメソッドを追加する</li>
        <li>特に問題はなく、作業も簡単なので、これはやっておいたほうが良い</li>
    </ul>
</div>
*@
