@{
    ViewBag.Title = "HTML5の実験室";

}

<h2>HTMLでデザインツールは作れるか？</h2>

<div>
    <h3>Step1</h3>
    @Html.ActionLink("Drag and Drop", "DnD")　
</div>

<div>
    <h3>Step2</h3>
    @Html.ActionLink("Canvas", "Canvas")　
</div>

<div>
    <h3>Step3</h3>
    @Html.ActionLink("Canvas & DnD", "Kinetic")　
</div>

<div>
    <h3>まとめ</h3>
    <ul>
        <li>HTML5でDrag&DropもCanvasに描画もできる</li>
        <li>kienticjsを使えば描画した図形をDrag&Dropさせることもできる</li>
        <li>kienticjsには<a href="http://www.html5canvastutorials.com/category/labs/">豊富なデモ</a>がある</li>
        <li>これを組み合わせれば、簡単なデザインボードのようなものは作成できそう</li>
        <li>改めて、Silverlightは死にますた(T.T)</li>
    </ul>
</div>
@*
*@
